body{
  background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
h1{
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: white;
  font-size: 4rem;
  box-shadow: 5px 5px 20px grey;
  display: inline-block;
  padding: 1%;
  border-radius: 20px;
}
.mainH{
  font-size: 4rem;
}
h2{
  margin-top: 1.5%;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: white;
}
.main{
  padding-top: 5%;
}
.display{
  margin:5%;
}
#displayH{
  font-size: 7rem;
}
.btn{
  margin-left: 2%;
  margin-right: 2%;
  width: 10%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px grey;
}
